doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content=web.description)
    meta(name='author', content='')
    link(rel='icon', href='favicon.png')
    title=web.title
    // Bootstrap core CSS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    // Custom styles for this template
    link(href='/css/owl.carousel.css', rel='stylesheet')
    link(href='/css/owl.theme.default.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy these 2 lines!
    //if lt IE 9
      script(src='../../assets/js/ie8-responsive-file-warning.js')
    script(src='js/ie-emulation-modes-warning.js')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body(id=web.menu[0].url)
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only 触碰导航
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='#'+web.menu[0].url)
            img(src='/images/white-logo-50.png', alt='limonStudio logo')
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            each val in web.menu
              if val.name === '主页'
                li.hidden
                  a(href='#'+val.url) #{val.name}
              else
                li
                  a.page-scroll(href='#'+val.url) #{val.name}
        // /.navbar-collapse
      // /.container-fluid
    // Header
    header
      .container
        .slider-container
          .intro-text
            .intro-lead-in Welcome To Our Studio!
            .intro-heading 很高兴能见到你~
            a.page-scroll.btn.btn-xl(href='#about') 开始了解我们
    section(id=web.menu[1].url).light-bg
      .container
        .row
          .col-lg-12.text-center
            .section-title
              h2 #{web.about.long_name}
              p #{web.about.desc}
        .row
          each val in web.about.sub_about
            // about module
            .col-md-3.text-center
              .mz-module-about
                i(class=val.icon).fa.ot-circle
                h3 #{val.name}
                p #{val.desc}
            // end about module
      // /.container
    section(id=web.menu[2].url)
      .container
        .row
          .col-md-6
            .skills-text
              h2 #{web.skills.long_name}
              p #{web.skills.desc}
          .col-md-6
            each val in web.skills.sub_skills
              // skill bar item
              .skillbar-item
                .skillbar-score
                  span.score #{val.progress}
                  span.percent %
                .skillbar(data-percent=val.progress+'%')
                  h3 #{val.name}
                  .skillbar-bar
                    .skillbar-percent(style='width: '+val.progress+'%;')
    section.overlay-dark.bg-img1.dark-bg.short-section
      .container.text-center
        .row
          .col-md-3.mb-sm-30
            .counter-item
              h2(data-count='59') 3
              h6 奖项
          .col-md-3.mb-sm-30
            .counter-item
              h2(data-count='1054') 10
              h6 客户
          .col-md-3.mb-sm-30
            .counter-item
              h2(data-count='34') 3
              h6 奋斗过的地方
          .col-md-3.mb-sm-30
            .counter-item
              h2(data-count='154') 20
              h6 项目
    section(id=web.menu[3].url).light-bg
      .container
        .row
          .col-lg-12.text-center
            .section-title
              h2 #{web.projects.long_name}
              p #{web.projects.desc}
        .row
          each val,index in web.projects.sub_projects
            // start portfolio item
            .col-md-4
              .ot-portfolio-item
                figure.effect-bubba
                  img.img-responsive(src=val.img, alt=val.name)
                  figcaption
                    h2 #{val.name}
                    p #{val.long_name}
                    a(href='#', data-toggle='modal', data-target='#Modal-'+index) 详细
            // end portfolio item
      // end container
    section
      .container
        .row
          .col-lg-12.text-center
            .section-title
              h2 我们的伙伴
              p 与技术大牛在一块儿工作，总是很厉害的
        .row
          .col-lg-12.text-center
            .owl-carousel
              .item
                .partner-logo
                  img(src='/images/demo/partners-1.png', alt='partners')
              .item
                .partner-logo
                  img(src='/images/demo/partners-2.png', alt='partners')
              .item
                .partner-logo
                  img(src='/images/demo/partners-3.png', alt='partners')
              .item
                .partner-logo
                  img(src='/images/demo/partners-4.png', alt='partners')
              .item
                .partner-logo
                  img(src='/images/demo/partners-5.png', alt='partners')
              .item
                .partner-logo
                  img(src='/images/demo/partners-6.png', alt='partners')
              .item
                .partner-logo
                  img(src='/images/demo/partners-7.png', alt='partners')
    section(id=web.menu[4].url).light-bg
      .container
        .row
          .col-lg-12.text-center
            .section-title
              h2 #{web.team.long_name}
              p #{web.team.desc}
        .row
          each val in web.team.persons
            // team member item
            .col-md-3
              .team-item
                .team-image
                  img.img-responsive(src='/images/demo/author-2.jpg', alt='author')
                .team-text
                  h3 #{val.name}
                  .team-location #{val.place}
                  .team-position #{val.position}
                  p #{val.desc}
            // end team member item
    section(id=web.menu[5].url)
      .container
        .row
          .col-lg-12.text-center
            .section-title
              h2 联系我们
              p
                | If you have some Questions or need Help! Please Contact Us!
                br
                | We make Cool and Clean Design for your Business
        .row
          .col-md-3
            h3 我们的联系方式
            p 3422 Street, Barcelona 432, Spain, New Building North, 15th Floor
            p
              i.fa.fa-phone
              |  +86 188 5839 5625
            p
              i.fa.fa-envelope
              | zhangchao564265135@qq.com
          .col-md-3
            h3 工作时间
            p
              i.fa.fa-clock-o
              |  
              span.day Weekdays:
              span 9am to 8pm
            p
              i.fa.fa-clock-o
              |  
              span.day Saturday:
              span 9am to 2pm
            p
              i.fa.fa-clock-o
              |  
              span.day Sunday:
              span Closed
          .col-md-6
            form#contactForm(name='sentMessage', novalidate='')
              .row
                .col-md-6
                  .form-group
                    input#name.form-control(type='text', placeholder='Your Name *', required='', data-validation-required-message='Please enter your name.')
                    p.help-block.text-danger
                .col-md-6
                  .form-group
                    input#email.form-control(type='email', placeholder='Your Email *', required='', data-validation-required-message='Please enter your email address.')
                    p.help-block.text-danger
              .row
                .col-md-12
                  .form-group
                    textarea#message.form-control(placeholder='Your Message *', required='', data-validation-required-message='Please enter a message.')
                    p.help-block.text-danger
                .clearfix
              .row
                .col-lg-12.text-center
                  #success
                  button.btn(type='submit') Send Message
    p#back-top
      a(href='#top')
        i.fa.fa-angle-up
    footer
      .container.text-center
        p
          | &copy; 2015-
          | #{moment(new Date()).format('YYYY')}
          a(href='http://limonplayer.com/', target='_blank', title='柠檬工作室') 柠檬工作室
          |  - Github is 
          a(href='http://github.com/Lanseria', title='Lanseria', target='_blank') Lanseria
          |  - 备案号
          a(href='www.miitbeian.gov.cn', title='www.miitbeian.gov.cn', target='_blank') （粤ICP备15104552号）
    each val,index in web.projects.sub_projects
      // Modal for portfolio item 1
      div(id='Modal-'+index).modal.fade(tabindex='-1', role='dialog', aria-labelledby='Modal-label-'+index)
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              h4(id='Modal-label-'+index).modal-title #{val.name}
            .modal-body
              img.img-responsive(src=val.img, alt=val.name)
              .modal-works
                each tag in val.tags
                  span #{tag}
              p #{val.desc}
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.easing.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/owl.carousel.min.js')
    script(src='/js/cbpAnimatedHeader.js')
    script(src='/js/theme-scripts.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='/js/ie10-viewport-bug-workaround.js')
